#login{
    background-color: rgba(246, 247, 251, 1);
    display: flex;
    flex-direction: column;
    padding: 20px 12px;
    align-items: center;
    justify-content: space-between;
}

#login h2{
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.login-form{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 25px;
}

#login > p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 19.2px;
    font-weight: 400;
    color: rgba(93, 135, 168, 1);
}